@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #f9f9f9;
  font-family: "Open Sans", sans-serif;
}

.container {
  margin: 2.4rem;
  padding: 2.4rem;
  text-align: center;
  border: 2px solid #ffffff;
  border-radius: 6px;
  box-shadow: 8px 10px 10px 1px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 2.6rem;
  font-weight: bold;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
}
